name: CI
env:
  DEBUG: napi:*
  APP_NAME: lightningcss
  MACOSX_DEPLOYMENT_TARGET: "10.13"
  CARGO_INCREMENTAL: "1"
  WORKING_DIRECTORY: lightningcss
on:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        settings:
          # Windows
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            build: npx napi build --release --platform --manifest-path ./node/Cargo.toml --target x86_64-pc-windows-msvc
            build_cli: cargo build --release --features cli --target x86_64-pc-windows-msvc
          - os: windows-latest
            target: aarch64-pc-windows-msvc
            build: npx napi build --release --platform --manifest-path ./node/Cargo.toml --target aarch64-pc-windows-msvc
            build_cli: cargo build --release --features cli --target aarch64-pc-windows-msvc
          - os: windows-latest
            target: i686-pc-windows-msvc
            build: npx napi build --release --platform --manifest-path ./node/Cargo.toml --target i686-pc-windows-msvc
            build_cli: cargo build --release --features cli --target i686-pc-windows-msvc
          # MacOS
          - os: macos-latest
            target: x86_64-apple-darwin
            strip: strip -x
            build: npx napi build --release --platform --manifest-path ./node/Cargo.toml --target x86_64-apple-darwin
            build_cli: cargo build --release --features cli --target x86_64-apple-darwin
          - os: macos-latest
            target: aarch64-apple-darwin
            strip: strip -x
            jemalloc_lg_page: "14"
            build: npx napi build --release --platform --manifest-path ./node/Cargo.toml --target aarch64-apple-darwin
            build_cli: cargo build --release --features cli --target aarch64-apple-darwin
          # Linux
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            strip: strip
            build: npx napi build --release --platform --manifest-path ./node/Cargo.toml --target x86_64-unknown-linux-gnu
            build_cli: cargo build --release --features cli --target x86_64-unknown-linux-gnu
          - os: ubuntu-latest
            target: x86_64-unknown-linux-musl
            strip: strip
            build: npx napi build --release --platform --manifest-path ./node/Cargo.toml --target x86_64-unknown-linux-musl
            build_cli: cargo build --release --features cli --target x86_64-unknown-linux-musl
          - os: ubuntu-latest
            strip: llvm-strip
            target: aarch64-unknown-linux-gnu
            build: npx napi build --release --platform --manifest-path ./node/Cargo.toml --target aarch64-unknown-linux-gnu --use-napi-cross
            build_cli: cargo build --release --features cli --target aarch64-unknown-linux-gnu
            setup: sudo apt update && sudo apt install -y gcc-aarch64-linux-gnu llvm
          - os: ubuntu-latest
            target: aarch64-unknown-linux-musl
            strip: llvm-strip
            build: npx napi build --release --platform --manifest-path ./node/Cargo.toml --target aarch64-unknown-linux-musl -x
            build_cli: cargo zigbuild --release --features cli --target aarch64-unknown-linux-musl
            setup: sudo apt update && sudo apt install -y llvm
          - os: ubuntu-latest
            target: armv7-unknown-linux-gnueabihf
            strip: llvm-strip
            build: npx napi build --release --platform --manifest-path ./node/Cargo.toml --target armv7-unknown-linux-gnueabihf --use-napi-cross
            build_cli: cargo build --release --features cli --target armv7-unknown-linux-gnueabihf
            setup: sudo apt update && sudo apt install -y gcc-arm-linux-gnueabihf llvm
          - os: ubuntu-latest
            android: true
            target: aarch64-linux-android
            strip: llvm-strip
            android_home: /tmp/android-ndk-r28
            build_cli: CARGO_TARGET_AARCH64_LINUX_ANDROID_LINKER=/tmp/android-ndk-r28/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android21-clang cargo build --release --features cli --target aarch64-linux-android
            setup: sudo apt update && sudo apt install llvm
          - os: ubuntu-latest
            android: true
            target: armv7-linux-androideabi
            strip: llvm-strip
            android_home: /tmp/android-ndk-r28
            build_cli: CARGO_TARGET_ARMV7_LINUX_ANDROIDEABI_LINKER=/tmp/android-ndk-r28/toolchains/llvm/prebuilt/linux-x86_64/bin/armv7a-linux-androideabi21-clang cargo build --release --features cli --target armv7-linux-androideabi
            setup: sudo apt update && sudo apt install llvm

    name: build-${{ matrix.settings.target }}
    runs-on: ${{ matrix.settings.os }}
    env:
      BINARY_NAME: ${{ contains(matrix.settings.os, 'windows') && 'lightningcss.exe' || 'lightningcss' }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/checkout-repo
      - name: Update toolchain
        working-directory: ${{ env.WORKING_DIRECTORY }}
        # HACK
        run: git apply -v ../rust-toolchain.patch
      - name: Setup Android NDK
        if: ${{ matrix.settings.android }}
        working-directory: /tmp
        run: |
          wget -q https://dl.google.com/android/repository/android-ndk-r28-linux.zip -O ndk.zip
          unzip ndk.zip

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "yarn"
          cache-dependency-path: lightningcss/yarn.lock
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt
          targets: ${{ matrix.settings.target }}
      - name: Install node.js dependencies
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: yarn install
      - name: Cache cargo
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            ~/.napi-rs
            ${{ env.WORKING_DIRECTORY }}/.cargo-cache
            ${{ env.WORKING_DIRECTORY }}/target
          key: ${{ matrix.settings.target }}-cargo-${{ matrix.settings.os }}-${{ hashFiles(format('{0}/Cargo.lock', env.WORKING_DIRECTORY)) }}
      - uses: mlugg/setup-zig@v2
        if: ${{ contains(matrix.settings.target, 'musl') }}
        with:
          version: 0.14.1
      - name: Install cargo-zigbuild
        uses: taiki-e/install-action@v2
        if: ${{ contains(matrix.settings.target, 'musl') }}
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          tool: cargo-zigbuild
      - name: Setup toolchain
        if: ${{ matrix.settings.setup }}
        run: ${{ matrix.settings.setup }}

      - name: Build release
        if: ${{ !matrix.settings.android }}
        working-directory: ${{ env.WORKING_DIRECTORY }}
        env:
          JEMALLOC_SYS_WITH_LG_PAGE: ${{ matrix.settings.jemalloc_lg_page }}
        run: ${{ matrix.settings.build }}
      - name: Build CLI
        if: ${{ !matrix.settings.android }}
        working-directory: ${{ env.WORKING_DIRECTORY }}
        env:
          JEMALLOC_SYS_WITH_LG_PAGE: ${{ matrix.settings.jemalloc_lg_page }}
        run: |
          ${{ matrix.settings.build_cli }}
          node -e "require('fs').renameSync('target/${{ matrix.settings.target }}/release/${{ env.BINARY_NAME }}', '${{ env.BINARY_NAME }}')"

      - name: Build release (android)
        if: ${{ matrix.settings.android }}
        working-directory: ${{ env.WORKING_DIRECTORY }}
        env:
          ANDROID_NDK_LATEST_HOME: ${{ matrix.settings.android_home }}
        run: npx napi build --platform --manifest-path ./node/Cargo.toml --target ${{ matrix.settings.target }}
      - name: Build CLI (android)
        if: ${{ matrix.settings.android }}
        working-directory: ${{ env.WORKING_DIRECTORY }}
        env:
          ANDROID_NDK_LATEST_HOME: ${{ matrix.settings.android_home }}
        run: |
          ${{ matrix.settings.build_cli }}
          node -e "require('fs').renameSync('target/${{ matrix.settings.target }}/release/${{ env.BINARY_NAME }}', '${{ env.BINARY_NAME }}')"

      - name: Strip debug symbols # https://github.com/rust-lang/rust/issues/46034
        working-directory: ${{ env.WORKING_DIRECTORY }}
        if: ${{ matrix.settings.strip }}
        run: ${{ matrix.settings.strip }} node/*.node ${{ env.BINARY_NAME }}
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: bindings-${{ matrix.settings.target }}
          path: |
            ${{ env.WORKING_DIRECTORY }}/node/*.node
            ${{ env.WORKING_DIRECTORY }}/${{ env.BINARY_NAME }}

  build-freebsd:
    runs-on: ubuntu-latest
    name: Build FreeBSD
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/checkout-repo
      - name: Update toolchain
        working-directory: ${{ env.WORKING_DIRECTORY }}
        # HACK
        run: git apply -v ../rust-toolchain.patch
      - name: Test and Build
        uses: cross-platform-actions/action@v0.32.0
        env:
          RUSTUP_IO_THREADS: 1
        with:
          operating_system: freebsd
          version: "14.3"
          memory: 13G
          cpu_count: 3
          environment_variables: "DEBUG RUSTUP_IO_THREADS"
          shell: bash
          run: |
            sudo pkg install -y -f curl node libnghttp2 npm yarn
            curl https://sh.rustup.rs -sSf --output rustup.sh
            sh rustup.sh -y --profile minimal --default-toolchain beta
            source "$HOME/.cargo/env"
            echo "~~~~ rustc --version ~~~~"
            rustc --version
            echo "~~~~ node -v ~~~~"
            node -v
            echo "~~~~ yarn --version ~~~~"
            yarn --version
            # NOTE extra step because this is the real repo
            cd lightningcss
            yarn install || true
            npx napi build --release --platform --manifest-path ./node/Cargo.toml
            strip -x node/*.node
            cargo build --release --features cli
            cargo test --all-features
            mv target/release/lightningcss lightningcss
            node -e "require('.')"
            ./lightningcss --help
            rm -rf node_modules
            rm -rf target
            rm -rf .yarn/cache
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: bindings-x86_64-unknown-freebsd
          path: |
            ${{ env.WORKING_DIRECTORY }}/node/*.node
            ${{ env.WORKING_DIRECTORY }}/lightningcss

  build-wasm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/checkout-repo
      - name: Update toolchain
        working-directory: ${{ env.WORKING_DIRECTORY }}
        # HACK
        run: git apply -v ../rust-toolchain.patch
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "yarn"
          cache-dependency-path: lightningcss/yarn.lock
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt
          targets: wasm32-unknown-unknown
      - name: Install wasm-opt
        run: sudo apt update && sudo apt install -y binaryen
      - name: Build wasm
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: |
          yarn install
          yarn wasm:build-release
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: wasm
          path: ${{ env.WORKING_DIRECTORY }}/wasm/lightningcss_node.wasm

  test-rust:
    name: Test Rust for ${{ matrix.settings.target }}
    strategy:
      fail-fast: false
      matrix:
        settings:
          # Windows
          - host: windows-latest
            target: x86_64-pc-windows-msvc
          - host: windows-latest
            target: i686-pc-windows-msvc
          - host: windows-11-arm
            target: aarch64-pc-windows-msvc
          # macOS
          - host: macos-latest
            target: x86_64-apple-darwin
          - host: macos-latest
            target: aarch64-apple-darwin
          # Linux
          - host: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - host: ubuntu-latest
            target: x86_64-unknown-linux-musl
          - host: ubuntu-24.04-arm
            target: aarch64-unknown-linux-gnu
          - host: ubuntu-24.04-arm
            target: aarch64-unknown-linux-musl
            setup: cargo install cargo-zigbuild
            test: cargo zigbuild --tests --all-features --target aarch64-unknown-linux-musl
          - host: ubuntu-24.04-arm
            target: armv7-unknown-linux-gnueabihf
            setup: sudo dpkg --add-architecture armhf && sudo apt update && sudo apt install -y gcc-arm-linux-gnueabihf libc6:armhf libgcc-s1:armhf libstdc++6:armhf
    runs-on: ${{ matrix.settings.host }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/checkout-repo
      - name: Update toolchain
        working-directory: ${{ env.WORKING_DIRECTORY }}
        # HACK
        run: git apply -v ../rust-toolchain.patch
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.settings.target }}
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: |
            ${{ env.WORKING_DIRECTORY }}
      - uses: mlugg/setup-zig@v2
        if: ${{ contains(matrix.settings.target, 'musl') }}
        with:
          version: 0.14.1
      - name: Setup toolchain
        if: ${{ matrix.settings.setup }}
        run: ${{ matrix.settings.setup }}
      - name: Cargo test
        if: ${{ !matrix.settings.test }}
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: cargo test --all-features --target ${{ matrix.settings.target }}
      - name: Cargo test (customized test commands)
        if: ${{ matrix.settings.test }}
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: ${{ matrix.settings.test }}
