name: CI
env:
  DEBUG: napi:*
  APP_NAME: lightningcss
  MACOSX_DEPLOYMENT_TARGET: "10.13"
  CARGO_INCREMENTAL: "1"
  WORKING_DIRECTORY: lightningcss
on:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        settings:
          # Windows
          - os: windows-latest
            target: x86_64-pc-windows-msvc
          - os: windows-latest
            target: aarch64-pc-windows-msvc
          - os: windows-latest
            target: i686-pc-windows-msvc
          # MacOS
          - os: macos-latest
            target: x86_64-apple-darwin
            strip: strip -x
          - os: macos-latest
            target: aarch64-apple-darwin
            strip: strip -x
            jemalloc_lg_page: "14"
          # Linux
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            strip: strip
          - os: ubuntu-latest
            target: x86_64-unknown-linux-musl
            strip: strip
            cross: zig
          - os: ubuntu-latest
            strip: aarch64-linux-gnu-strip
            target: aarch64-unknown-linux-gnu
            cross: napi
            setup: |
              sudo apt update
              sudo apt install -y gcc-aarch64-linux-gnu
          - os: ubuntu-latest
            target: aarch64-unknown-linux-musl
            strip: llvm-strip
            cross: zig
            setup: |
              sudo apt update
              sudo apt install -y llvm
          - os: ubuntu-latest
            target: armv7-unknown-linux-gnueabihf
            strip: llvm-strip
            cross: napi
            setup: |
              sudo apt update
              sudo apt install -y gcc-arm-linux-gnueabihf llvm
          - os: ubuntu-latest
            android: true
            target: aarch64-linux-android
            strip: llvm-strip
            android_home: /tmp/android-ndk-r28
            linker: CARGO_TARGET_AARCH64_LINUX_ANDROID_LINKER=/tmp/android-ndk-r28/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android21-clang
            setup: sudo apt update && sudo apt install -y llvm
          - os: ubuntu-latest
            android: true
            target: armv7-linux-androideabi
            strip: llvm-strip
            android_home: /tmp/android-ndk-r28
            linker: CARGO_TARGET_ARMV7_LINUX_ANDROIDEABI_LINKER=/tmp/android-ndk-r28/toolchains/llvm/prebuilt/linux-x86_64/bin/armv7a-linux-androideabi21-clang
            setup: sudo apt update && sudo apt install -y llvm
          - os: ubuntu-latest
            target: powerpc64le-unknown-linux-gnu
            strip: powerpc64le-linux-gnu-strip
            linker: CARGO_TARGET_POWERPC64LE_UNKNOWN_LINUX_GNU_LINKER=powerpc64le-linux-gnu-gcc
            setup: |
              sudo apt update
              sudo apt install -y gcc-powerpc64le-linux-gnu libc6-dev-ppc64el-cross
          - os: ubuntu-latest
            target: s390x-unknown-linux-gnu
            strip: s390x-linux-gnu-strip
            linker: CARGO_TARGET_S390X_UNKNOWN_LINUX_GNU_LINKER=s390x-linux-gnu-gcc
            setup: |
              sudo apt update
              sudo apt install -y gcc-s390x-linux-gnu libc6-dev-s390x-cross llvm
          - os: ubuntu-latest
            target: riscv64gc-unknown-linux-gnu
            strip: riscv64-linux-gnu-strip
            linker: CARGO_TARGET_RISCV64GC_UNKNOWN_LINUX_GNU_LINKER=riscv64-linux-gnu-gcc
            setup: |
              sudo apt update
              sudo apt install -y gcc-riscv64-linux-gnu libc6-dev-riscv64-cross
          - os: ubuntu-latest
            target: riscv64gc-unknown-linux-musl
            strip: llvm-strip
            cross: zig
            setup: |
              sudo apt update
              sudo apt install -y gcc-riscv64-linux-gnu libc6-dev-riscv64-cross llvm
          - os: ubuntu-latest
            target: loongarch64-unknown-linux-gnu
            strip: loongarch64-linux-gnu-strip
            linker: CARGO_TARGET_LOONGARCH64_UNKNOWN_LINUX_GNU_LINKER=loongarch64-linux-gnu-gcc-13
            setup: |
              sudo apt update
              sudo apt install -y gcc-13-loongarch64-linux-gnu
          - os: ubuntu-latest
            target: loongarch64-unknown-linux-musl
            strip: llvm-strip
            cross: zig
            setup: |
              sudo apt update
              sudo apt install -y llvm
          - os: ubuntu-latest
            target: aarch64-unknown-linux-ohos
            strip: /home/runner/setup-ohos-sdk/linux/native/llvm/bin/llvm-strip
            linker: CARGO_TARGET_AARCH64_UNKNOWN_LINUX_OHOS_LINKER=/home/runner/setup-ohos-sdk/linux/native/llvm/bin/aarch64-unknown-linux-ohos-clang

    name: build-${{ matrix.settings.target }}
    runs-on: ${{ matrix.settings.os }}
    env:
      BINARY_NAME: ${{ contains(matrix.settings.os, 'windows') && 'lightningcss.exe' || 'lightningcss' }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/checkout-repo
      - name: Setup Android NDK
        if: ${{ matrix.settings.android }}
        working-directory: /tmp
        run: |
          wget -q https://dl.google.com/android/repository/android-ndk-r28-linux.zip -O ndk.zip
          unzip ndk.zip

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "yarn"
          cache-dependency-path: lightningcss/yarn.lock
      - name: Setup OpenHarmony SDK
        if: ${{ contains(matrix.settings.target, 'ohos') }}
        uses: openharmony-rs/setup-ohos-sdk@3c181b3244cec76aaec289ab84fb00f55f2fce3f # v0.2.4
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt
          targets: ${{ matrix.settings.target }}
      - name: Install node.js dependencies
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: yarn install
      - name: Cache cargo
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            ~/.napi-rs
            ${{ env.WORKING_DIRECTORY }}/.cargo-cache
            ${{ env.WORKING_DIRECTORY }}/target
          key: ${{ matrix.settings.target }}-cargo-${{ matrix.settings.os }}-${{ hashFiles(format('{0}/Cargo.lock', env.WORKING_DIRECTORY)) }}
      - uses: mlugg/setup-zig@v2
        if: ${{ matrix.settings.cross == 'zig' }}
        with:
          version: 0.14.1
      - name: Install cargo-zigbuild
        uses: taiki-e/install-action@v2
        if: ${{ matrix.settings.cross == 'zig' }}
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          tool: cargo-zigbuild
      - name: Setup toolchain
        if: ${{ matrix.settings.setup }}
        run: ${{ matrix.settings.setup }}

      - name: Build release
        if: ${{ !matrix.settings.android }}
        working-directory: ${{ env.WORKING_DIRECTORY }}
        env:
          JEMALLOC_SYS_WITH_LG_PAGE: ${{ matrix.settings.jemalloc_lg_page }}
        run: npx napi build --release --platform --manifest-path ./node/Cargo.toml --target ${{ matrix.settings.target }} ${{ matrix.settings.cross == 'zig' && '-x' || matrix.settings.cross == 'napi' && '--use-napi-cross' || matrix.settings.cross == 'cross' && '--use-cross' || '' }}
      - name: Build CLI
        if: ${{ !matrix.settings.android }}
        working-directory: ${{ env.WORKING_DIRECTORY }}
        env:
          JEMALLOC_SYS_WITH_LG_PAGE: ${{ matrix.settings.jemalloc_lg_page }}
        run: |
          ${{ matrix.settings.linker || '' }} cargo ${{ matrix.settings.cross == 'zig' && 'zigbuild' || 'build' }} --release --features cli --target ${{ matrix.settings.target }}
          node -e "require('fs').renameSync('target/${{ matrix.settings.target }}/release/${{ env.BINARY_NAME }}', '${{ env.BINARY_NAME }}')"

      - name: Build release (android)
        if: ${{ matrix.settings.android }}
        working-directory: ${{ env.WORKING_DIRECTORY }}
        env:
          ANDROID_NDK_LATEST_HOME: ${{ matrix.settings.android_home }}
        run: npx napi build --platform --manifest-path ./node/Cargo.toml --target ${{ matrix.settings.target }}
      - name: Build CLI (android)
        if: ${{ matrix.settings.android }}
        working-directory: ${{ env.WORKING_DIRECTORY }}
        env:
          ANDROID_NDK_LATEST_HOME: ${{ matrix.settings.android_home }}
        run: |
          ${{ matrix.settings.linker }} cargo build --release --features cli --target ${{ matrix.settings.target }}
          node -e "require('fs').renameSync('target/${{ matrix.settings.target }}/release/${{ env.BINARY_NAME }}', '${{ env.BINARY_NAME }}')"

      - name: Strip debug symbols # https://github.com/rust-lang/rust/issues/46034
        working-directory: ${{ env.WORKING_DIRECTORY }}
        if: ${{ matrix.settings.strip }}
        run: ${{ matrix.settings.strip }} node/*.node ${{ env.BINARY_NAME }}
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: bindings-${{ matrix.settings.target }}
          path: |
            ${{ env.WORKING_DIRECTORY }}/node/*.node
            ${{ env.WORKING_DIRECTORY }}/${{ env.BINARY_NAME }}

  build-freebsd:
    strategy:
      fail-fast: false
      matrix:
        os:
          - name: freebsd
            version: "14.3"
            architecture: x86-64
            target: x86_64-unknown-freebsd
          - name: freebsd
            version: "14.3"
            architecture: arm64
            target: aarch64-unknown-freebsd
    runs-on: ubuntu-latest
    name: Build FreeBSD ${{ matrix.os.architecture }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/checkout-repo
      - name: Test and Build
        uses: cross-platform-actions/action@v0.32.0
        env:
          RUSTUP_IO_THREADS: 1
        with:
          operating_system: ${{ matrix.os.name }}
          architecture: ${{ matrix.os.architecture }}
          version: ${{ matrix.os.version }}
          memory: 13G
          cpu_count: 3
          environment_variables: "DEBUG RUSTUP_IO_THREADS"
          shell: bash
          run: |
            sudo pkg install -y -f curl node npm yarn rust
            echo "~~~~ rustc --version ~~~~"
            rustc --version
            echo "~~~~ node -v ~~~~"
            node -v
            echo "~~~~ yarn --version ~~~~"
            yarn --version
            # NOTE extra step because this is the real repo
            cd lightningcss
            cp node/index.js node/index.js.bak
            yarn install --ignore-scripts || true
            npx napi build --release --platform --manifest-path ./node/Cargo.toml
            strip node/*.node
            file node/*.node
            mv node/index.js.bak node/index.js
            yarn test
            cargo build --release --features cli
            # HACK bypass the racing condition for now see issue 8
            RAYON_NUM_THREADS=1 CARGO_TERM_COLOR=always RUST_BACKTRACE=full cargo test --all-features
            mv target/release/lightningcss lightningcss
            strip lightningcss
            file lightningcss
            node -e "require('.')"
            ./lightningcss --help
            rm -rf node_modules
            rm -rf target
            rm -rf .yarn/cache
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: bindings-${{ matrix.os.target }}
          path: |
            ${{ env.WORKING_DIRECTORY }}/node/*.node
            ${{ env.WORKING_DIRECTORY }}/lightningcss

  build-test-wasm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/checkout-repo
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "yarn"
          cache-dependency-path: lightningcss/yarn.lock
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt
          targets: wasm32-unknown-unknown
      - name: Install wasm-opt
        run: sudo apt update && sudo apt install -y binaryen
      - name: Build wasm
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: |
          yarn install
          yarn wasm:build-release
      - name: Patch tests
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: |
          # HACK: inject `napi_is_arraybuffer`
          wget https://raw.githubusercontent.com/IronBlood/napi-wasm/refs/heads/napi_is_arraybuffer/index.mjs -O wasm/node_modules/napi-wasm/index.mjs
      - name: Run test (node)
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: TEST_WASM=node yarn test
      - name: Run test (browser)
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: TEST_WASM=node yarn test
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: wasm
          path: ${{ env.WORKING_DIRECTORY }}/wasm/lightningcss_node.wasm

  test-rust:
    name: Test Rust for ${{ matrix.settings.target }}
    strategy:
      fail-fast: false
      matrix:
        settings:
          # Windows
          - host: windows-latest
            target: x86_64-pc-windows-msvc
          - host: windows-latest
            target: i686-pc-windows-msvc
          - host: windows-11-arm
            target: aarch64-pc-windows-msvc
          # macOS
          - host: macos-latest
            target: x86_64-apple-darwin
          - host: macos-latest
            target: aarch64-apple-darwin
          # Linux
          - host: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - host: ubuntu-latest
            target: x86_64-unknown-linux-musl
          - host: ubuntu-24.04-arm
            target: aarch64-unknown-linux-gnu
          - host: ubuntu-24.04-arm
            target: aarch64-unknown-linux-musl
            setup: cargo install cargo-zigbuild
            test: cargo zigbuild --tests --all-features --target aarch64-unknown-linux-musl
          - host: ubuntu-24.04-arm
            target: armv7-unknown-linux-gnueabihf
            setup: sudo dpkg --add-architecture armhf && sudo apt update && sudo apt install -y gcc-arm-linux-gnueabihf libc6:armhf libgcc-s1:armhf libstdc++6:armhf
    runs-on: ${{ matrix.settings.host }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/checkout-repo
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.settings.target }}
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: |
            ${{ env.WORKING_DIRECTORY }}
      - uses: mlugg/setup-zig@v2
        if: ${{ contains(matrix.settings.target, 'musl') }}
        with:
          version: 0.14.1
      - name: Setup toolchain
        if: ${{ matrix.settings.setup }}
        run: ${{ matrix.settings.setup }}
      - name: Cargo test
        if: ${{ !matrix.settings.test }}
        working-directory: ${{ env.WORKING_DIRECTORY }}
        env:
          CARGO_TERM_COLOR: always
          RUST_BACKTRACE: full
          RAYON_NUM_THREADS: 1
        run: cargo test --all-features --target ${{ matrix.settings.target }}
      - name: Cargo test (customized test commands)
        if: ${{ matrix.settings.test }}
        working-directory: ${{ env.WORKING_DIRECTORY }}
        env:
          CARGO_TERM_COLOR: always
          RUST_BACKTRACE: full
          RAYON_NUM_THREADS: 1
        run: ${{ matrix.settings.test }}

  test-js-win-mac:
    name: Test Bindings on ${{ matrix.settings.target }} - node@${{ matrix.node }}
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        node:
          - "20"
          - "22"
          - "24"
        settings:
          # Windows
          - host: windows-latest
            target: x86_64-pc-windows-msvc
            architecture: x64
          - host: windows-11-arm
            target: aarch64-pc-windows-msvc
            architecture: arm64
          # MacOS
          - host: macos-latest
            target: aarch64-apple-darwin
            architecture: arm64
          - host: macos-latest
            target: x86_64-apple-darwin
            architecture: x64
    runs-on: ${{ matrix.settings.host }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/checkout-repo
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
          cache: yarn
          architecture: ${{ matrix.settings.architecture }}
          cache-dependency-path: lightningcss/yarn.lock
      - name: Install node.js dependencies
        working-directory: ${{ env.WORKING_DIRECTORY }}
        # NOTE skip installing puppeteer, doesn't support on some systems
        run: yarn install --ignore-scripts
      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          name: bindings-${{ matrix.settings.target }}
          path: ${{ env.WORKING_DIRECTORY }}
      - name: Test bindings
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: yarn test

  test-js-linux:
    name: Test Bindings on ${{ matrix.target }} - node@${{ matrix.node }}
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        node:
          - "20"
          - "22"
          - "24"
        target:
          - x86_64-unknown-linux-gnu
          - x86_64-unknown-linux-musl
          - aarch64-unknown-linux-gnu
          - aarch64-unknown-linux-musl
          - armv7-unknown-linux-gnueabihf
        exclude:
          - node: "24"
            target: armv7-unknown-linux-gnueabihf
    runs-on: ${{ contains(matrix.target, 'aarch64') && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/checkout-repo
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
          cache: yarn
          cache-dependency-path: lightningcss/yarn.lock
      - name: Output docker params
        id: docker
        run: |
          node -e "
            if ('${{ matrix.target }}'.startsWith('aarch64')) {
              console.log('PLATFORM=linux/arm64')
            } else if ('${{ matrix.target }}'.startsWith('armv7')) {
              console.log('PLATFORM=linux/arm/v7')
            } else {
              console.log('PLATFORM=linux/amd64')
            }
          " >> $GITHUB_OUTPUT
          node -e "
            if ('${{ matrix.target }}'.endsWith('-musl')) {
              console.log('IMAGE=node:${{ matrix.node }}-alpine')
            } else {
              console.log('IMAGE=node:${{ matrix.node }}-slim')
            }
          " >> $GITHUB_OUTPUT
      - name: Install dependencies
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: |
          yarn config set --json supportedArchitectures.cpu '["current", "arm64", "x64", "arm"]'
          yarn config set --json supportedArchitectures.libc '["current", "musl", "gnu"]'
          yarn install --ignore-scripts
      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          name: bindings-${{ matrix.target }}
          path: ${{ env.WORKING_DIRECTORY }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        if: ${{ contains(matrix.target, 'armv7') }}
        with:
          platforms: all
      - run: docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
        if: ${{ contains(matrix.target, 'armv7') }}
      - name: Test bindings
        uses: addnab/docker-run-action@v3
        with:
          image: ${{ steps.docker.outputs.IMAGE }}
          options: -v ${{ github.workspace }}:${{ github.workspace }} -w ${{ github.workspace }}/${{ env.WORKING_DIRECTORY }} --platform ${{ steps.docker.outputs.PLATFORM }}
          run: yarn test
