name: CI
env:
  DEBUG: napi:*
  APP_NAME: lightningcss
  MACOSX_DEPLOYMENT_TARGET: "10.13"
  CARGO_INCREMENTAL: "1"
  WORKING_DIRECTORY: lightningcss
on:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        settings:
          # Windows
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            binary: lightningcss.exe
            build: npx napi build --release --platform --manifest-path ./node/Cargo.toml --target x86_64-pc-windows-msvc
            build_cli: cargo build --release --features cli --target x86_64-pc-windows-msvc
          - os: windows-latest
            target: aarch64-pc-windows-msvc
            binary: lightningcss.exe
            build: npx napi build --release --platform --manifest-path ./node/Cargo.toml --target aarch64-pc-windows-msvc
            build_cli: cargo build --release --features cli --target aarch64-pc-windows-msvc
          # MacOS
          - os: macos-latest
            target: x86_64-apple-darwin
            strip: strip -x
            binary: lightningcss
            build: npx napi build --release --platform --manifest-path ./node/Cargo.toml --target x86_64-apple-darwin
            build_cli: cargo build --release --features cli --target x86_64-apple-darwin
          - os: macos-latest
            target: aarch64-apple-darwin
            strip: strip -x
            binary: lightningcss
            jemalloc_lg_page: "14"
            build: npx napi build --release --platform --manifest-path ./node/Cargo.toml --target aarch64-apple-darwin
            build_cli: cargo build --release --features cli --target aarch64-apple-darwin
          # Linux
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            strip: strip
            binary: lightningcss
            build: npx napi build --release --platform --manifest-path ./node/Cargo.toml --target x86_64-unknown-linux-gnu
            build_cli: cargo build --release --features cli --target x86_64-unknown-linux-gnu
          - os: ubuntu-latest
            target: x86_64-unknown-linux-musl
            strip: strip
            binary: lightningcss
            build: npx napi build --release --platform --manifest-path ./node/Cargo.toml --target x86_64-unknown-linux-musl
            build_cli: cargo build --release --features cli --target x86_64-unknown-linux-musl
          - os: ubuntu-latest
            strip: strip
            target: aarch64-unknown-linux-gnu
            binary: lightningcss
            build: npx napi build --release --platform --manifest-path ./node/Cargo.toml --target aarch64-unknown-linux-gnu --use-napi-cross
            build_cli: cargo build --release --features cli --target aarch64-unknown-linux-gnu
            setup: sudo apt update && sudo apt install -y gcc-aarch64-linux-gnu
          - os: ubuntu-latest
            target: aarch64-unknown-linux-musl
            strip: strip
            binary: lightningcss
            build: npx napi build --release --platform --manifest-path ./node/Cargo.toml --target aarch64-unknown-linux-musl -x
            build_cli: cargo zigbuild --release --features cli --target aarch64-unknown-linux-musl
          - os: ubuntu-latest
            target: armv7-unknown-linux-gnueabihf
            strip: strip
            binary: lightningcss
            build: npx napi build --release --platform --manifest-path ./node/Cargo.toml --target armv7-unknown-linux-gnueabihf --use-napi-cross
            build_cli: cargo build --release --features cli --target armv7-unknown-linux-gnueabihf
            setup: sudo apt update && sudo apt install -y gcc-arm-linux-gnueabihf
          - os: ubuntu-latest
            android: true
            target: aarch64-linux-android
            strip: llvm-strip
            binary: lightningcss
            android_home: /tmp/android-ndk-r28
          - os: ubuntu-latest
            android: true
            target: armv7-linux-androideabi
            strip: llvm-strip
            binary: lightningcss
            android_home: /tmp/android-ndk-r28

    name: build-${{ matrix.settings.target }}
    runs-on: ${{ matrix.settings.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/checkout-repo
      - name: Update toolchain
        working-directory: ${{ env.WORKING_DIRECTORY }}
        # HACK
        run: git apply -v ../rust-toolchain.patch
      - name: Setup Android NDK
        if: ${{ matrix.settings.android }}
        run: |
          sudo apt update && sudo apt install unzip -y
          cd /tmp
          wget -q https://dl.google.com/android/repository/android-ndk-r28-linux.zip -O /tmp/ndk.zip
          unzip ndk.zip

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "yarn"
          cache-dependency-path: lightningcss/yarn.lock
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt
          targets: ${{ matrix.settings.target }}
      - name: Install node.js dependencies
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: yarn install
      - name: Cache cargo
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            ~/.napi-rs
            ${{ env.WORKING_DIRECTORY }}/.cargo-cache
            ${{ env.WORKING_DIRECTORY }}/target
          key: ${{ matrix.settings.target }}-cargo-${{ matrix.settings.os }}-${{ hashFiles(format('{0}/Cargo.lock', env.WORKING_DIRECTORY)) }}
      - uses: mlugg/setup-zig@v2
        if: ${{ contains(matrix.settings.target, 'musl') }}
        with:
          version: 0.14.1
      - name: Install cargo-zigbuild
        uses: taiki-e/install-action@v2
        if: ${{ contains(matrix.settings.target, 'musl') }}
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          tool: cargo-zigbuild
      - name: Setup toolchain
        if: ${{ matrix.settings.setup }}
        run: ${{ matrix.settings.setup }}

      - name: Build release
        if: ${{ !matrix.settings.android }}
        working-directory: ${{ env.WORKING_DIRECTORY }}
        env:
          JEMALLOC_SYS_WITH_LG_PAGE: ${{ matrix.settings.jemalloc_lg_page }}
        run: ${{ matrix.settings.build }}
      - name: Build CLI
        if: ${{ !matrix.settings.android }}
        working-directory: ${{ env.WORKING_DIRECTORY }}
        env:
          JEMALLOC_SYS_WITH_LG_PAGE: ${{ matrix.settings.jemalloc_lg_page }}
        run: |
          ${{ matrix.settings.build_cli }}
          node -e "require('fs').renameSync('target/${{ matrix.settings.target }}/release/${{ matrix.settings.binary }}', '${{ matrix.settings.binary }}')"

      - name: Build release (android)
        if: ${{ matrix.settings.android }}
        working-directory: ${{ env.WORKING_DIRECTORY }}
        env:
          ANDROID_NDK_LATEST_HOME: ${{ matrix.settings.android_home }}
        run: npx napi build --platform --manifest-path ./node/Cargo.toml --target ${{ matrix.settings.target }}
      - name: Build CLI (android)
        if: ${{ matrix.settings.android }}
        working-directory: ${{ env.WORKING_DIRECTORY }}
        env:
          ANDROID_NDK_LATEST_HOME: ${{ matrix.settings.android_home }}
        run: |
          cargo build --release --features cli --target ${{ matrix.settings.target }}
          node -e "require('fs').renameSync('target/${{ matrix.settings.target }}/release/${{ matrix.settings.binary }}', '${{ matrix.settings.binary }}')"

      - name: Strip debug symbols # https://github.com/rust-lang/rust/issues/46034
        working-directory: ${{ env.WORKING_DIRECTORY }}
        if: ${{ matrix.settings.strip }}
        run: ${{ matrix.settings.strip }} node/*.node ${{ matrix.settings.binary }}
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: bindings-${{ matrix.settings.target }}
          path: |
            ${{ env.WORKING_DIRECTORY }}/node/*.node
            ${{ env.WORKING_DIRECTORY }}/${{ matrix.settings.binary }}
