name: dummy
on:
  workflow_dispatch:

jobs:
  check-llvm-strip:
    runs-on: ubuntu-latest
    steps:
      - name: Install llvm
        run: sudo apt-get update && sudo apt-get install -y llvm
      - name: Check llvm-strip
        run: which llvm-strip
  show-android-linker:
    runs-on: ubuntu-latest
    steps:
      - name: Download NDK
        run: |
          wget -q https://dl.google.com/android/repository/android-ndk-r28-linux.zip -O ndk.zip
          unzip ndk.zip
      - name: Show binaries
        run: |
          ls android-ndk-r28/toolchains/llvm/prebuilt/linux-x86_64/bin
