name: dummy
on:
  workflow_dispatch:

jobs:
  check-llvm-strip:
    runs-on: ubuntu-latest
    steps:
      - name: Install llvm
        run: sudo apt-get update && sudo apt-get install -y llvm
      - name: Check llvm-strip
        run: which llvm-strip
