name: Building on FreeBSD
env:
  DEBUG: "napi:*"
  WORKING_DIRECTORY: lightningcss
on:
  workflow_dispatch:

jobs:
  build-js-binding-freebsd:
    strategy:
      fail-fast: false
      matrix:
        settings:
          - os: ubuntu-latest
            target: x86_64-unknown-freebsd
            strip: llvm-strip
            cross: cross
            setup: |
              sudo apt update
              sudo apt install -y llvm
          - os: ubuntu-latest
            target: aarch64-unknown-freebsd
            strip: llvm-strip
            cross: cross
            setup: |
              sudo apt update
              sudo apt install -y llvm
    runs-on: ${{ matrix.settings.os }}
    name: build-${{ matrix.settings.target }}
    env:
      BINARY_NAME: ${{ contains(matrix.settings.os, 'windows') && 'lightningcss.exe' || 'lightningcss' }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/checkout-repo
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "yarn"
          cache-dependency-path: lightningcss/yarn.lock
      - name: Install Rust
        if: ${{ matrix.settings.cross == 'cross' }}
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy, rustfmt, rust-src
      - name: Install node.js dependencies
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: yarn install
      - name: Install cargo-cross
        if: ${{ matrix.settings.cross == 'cross' }}
        run: |
          cargo install --git https://github.com/cross-rs/cross --rev e281947ca900da425e4ecea7483cfde646c8a1ea cross
      - name: Setup toolchain
        if: ${{ matrix.settings.setup }}
        run: ${{ matrix.settings.setup }}
      - name: Build release
        if: ${{ !matrix.settings.android && matrix.settings.target != 'aarch64-apple-darwin' }}
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: npx napi build --release --platform --manifest-path ./node/Cargo.toml --target ${{ matrix.settings.target }} ${{ matrix.settings.cross == 'zig' && '-x' || matrix.settings.cross == 'napi' && '--use-napi-cross' || matrix.settings.cross == 'cross' && '--use-cross' || '' }}
      - name: Build CLI
        if: ${{ !matrix.settings.android && matrix.settings.target != 'aarch64-apple-darwin' }}
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: |
          ${{ matrix.settings.linker || '' }} ${{ matrix.settings.cross == 'cross' && 'cross +nightly' || 'cargo' }} ${{ matrix.settings.cross == 'zig' && 'zigbuild' || 'build' }} --release --features cli --target ${{ matrix.settings.target }} ${{ matrix.settings.cross == 'cross' && '-Z build-std' || '' }}
          node -e "require('fs').renameSync('target/${{ matrix.settings.target }}/release/${{ env.BINARY_NAME }}', '${{ env.BINARY_NAME }}')"
      - name: Strip debug symbols # https://github.com/rust-lang/rust/issues/46034
        working-directory: ${{ env.WORKING_DIRECTORY }}
        if: ${{ matrix.settings.strip }}
        run: ${{ matrix.settings.strip }} node/*.node ${{ env.BINARY_NAME }}
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: bindings-${{ matrix.settings.target }}
          path: |
            ${{ env.WORKING_DIRECTORY }}/node/*.node
            ${{ env.WORKING_DIRECTORY }}/${{ env.BINARY_NAME }}

  build-test-js-binding-freebsd:
    if: ${{ false }}
    strategy:
      fail-fast: false
      matrix:
        job:
          - name: jsbinding
            cmd: |
              cp node/index.js node/index.js.bak
              yarn install --ignore-scripts || true
              npx napi build --release --platform --manifest-path ./node/Cargo.toml
            post_cmd: |
              strip node/*.node
              file node/*.node
              mv node/index.js.bak node/index.js
              yarn test
              node -e "require('.')"
          - name: cli
            cmd: |
              cargo build --release --features cli
            post_cmd: |
              mv target/release/lightningcss lightningcss
              strip lightningcss
              file lightningcss
              ./lightningcss --help
          - name: test
            cmd: |
              # HACK bypass the racing condition for now see issue 8
              RAYON_NUM_THREADS=1 CARGO_TERM_COLOR=always RUST_BACKTRACE=full cargo test --all-features

        os:
          - name: freebsd
            version: "14.3"
            architecture: x86-64
          - name: freebsd
            version: "14.3"
            architecture: arm64
    name: ${{ matrix.job.name }} on ${{ matrix.os.name }} / ${{ matrix.os.architecture }} / ${{ matrix.os.version }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/checkout-repo
      - name: Create .cargo and .yarn-cache
        run: mkdir -p .cargo .yarn-cache .sccache
      - name: Cache cargo
        uses: actions/cache@v5
        with:
          path: |
            .cargo/
            .sccache/
          key: ${{ matrix.os.name }}-${{ matrix.os.version }}-${{ matrix.os.architecture }}-${{ matrix.job.name }}-cargo-${{ hashFiles('lightningcss/Cargo.lock') }}
          restore-keys: |
            ${{ matrix.os.name }}-${{ matrix.os.version }}-${{ matrix.os.architecture }}-${{ matrix.job.name }}-cargo-

      - name: Cache yarn
        uses: actions/cache@v5
        with:
          path: |
            .yarn-cache
          key: ${{ matrix.os.name }}-${{ matrix.os.version }}-${{ matrix.os.architecture }}-${{ matrix.job.name }}-yarn-${{ hashFiles('lightningcss/yarn.lock') }}
          restore-keys: |
            ${{ matrix.os.name }}-${{ matrix.os.version }}-${{ matrix.os.architecture }}-${{ matrix.job.name }}-yarn-
      - name: Ignore target/
        working-directory: lightningcss
        run: rm -r target || true
      - uses: cross-platform-actions/action@492b0c80085400348c599edace11141a4ee73524 # v0.32.0
        if: ${{ matrix.job.cmd }}
        with:
          operating_system: ${{ matrix.os.name }}
          architecture: ${{ matrix.os.architecture }}
          version: ${{ matrix.os.version }}
          memory: 13G
          cpu_count: 3
          environment_variables: "DEBUG RUSTC_WRAPPER"
          shell: bash
          run: |
            sudo pkg install -y rust sccache node npm yarn
            export YARN_CACHE_FOLDER="$PWD/.yarn-cache"
            rustc --version
            export SCCACHE_DIR="$PWD/.sccache"
            export SCCACHE_IDLE_TIMEOUT=0
            export SCCACHE_LOG=info
            export SCCACHE_ERROR_LOG="$PWD/sccache.log"
            export CARGO_INCREMENTAL=0
            # NOTE create a symlink of .cargo
            rm -rf "$HOME/.cargo"
            ln -sfn "$PWD/.cargo" "$HOME/.cargo"
            # NOTE extra step because this is the real repo
            cd lightningcss
            sccache --show-stats
            ${{ matrix.job.cmd }}
            sccache --show-stats
            ${{ matrix.job.post_cmd || '' }}
            if [ -f "$PWD/../sccache.log" ]; then
              echo "===== sccache.log ====="
              cat "$PWD/../sccache.log"
            fi
