name: Verify Rust on FreeBSD
on:
  workflow_dispatch:

jobs:
  check-version:
    strategy:
      fail-fast: false
      matrix:
        os:
          - name: freebsd
            version: "14.3"
            architecture: x86-64
            host: ubuntu-latest
          - name: freebsd
            version: "14.3"
            architecture: arm64
            host: ubuntu-24.04-arm
    name: Show rust version on ${{ matrix.os.name }} / ${{ matrix.os.architecture }} / ${{ matrix.os.version }}
    runs-on: ${{ matrix.os.host }}
    steps:
      - name: Install qemu
        run: |
          sudo apt update
          sudo apt install -y ${{ matrix.os.architecture == 'x86-64' && 'qemu-system-x86' || 'qemu-system-arm' }} qemu-utils
      - uses: IronBlood/cross-platform-action@b5e6faeeeaf14a382656d71311cdda7b53f484df
        with:
          operating_system: ${{ matrix.os.name }}
          architecture: ${{ matrix.os.architecture }}
          version: ${{ matrix.os.version }}
          shell: bash
          run: |
            sudo pkg install -y rust
            rustc --version
