name: Building on FreeBSD
env:
  # SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"
on:
  workflow_dispatch:

jobs:
  build-test-js-binding-freebsd:
    strategy:
      fail-fast: false
      matrix:
        job:
          - name: jsbinding
            cmd: |
              cp node/index.js node/index.js.bak
              yarn install --ignore-scripts || true
              npx napi build --release --platform --manifest-path ./node/Cargo.toml
            post_cmd: |
              strip node/*.node
              file node/*.node
              mv node/index.js.bak node/index.js
              yarn test
              node -e "require('.')"
          - name: cli
            cmd: |
              cargo build --release --features cli
            post_cmd: |
              mv target/release/lightningcss lightningcss
              strip lightningcss
              file lightningcss
              ./lightningcss --help
          - name: test
            cmd: |
              # HACK bypass the racing condition for now see issue 8
              RAYON_NUM_THREADS=1 CARGO_TERM_COLOR=always RUST_BACKTRACE=full cargo test --all-features

        os:
          - name: freebsd
            version: "14.3"
            architecture: x86-64
          # - name: freebsd
          #   version: "14.3"
          #   architecture: arm64
    name: ${{ matrix.job.name }} on ${{ matrix.os.name }} / ${{ matrix.os.architecture }} / ${{ matrix.os.version }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/checkout-repo
      - name: Create .cargo and .yarn-cache
        run: mkdir -p .cargo .yarn-cache .sccache
      - name: Cache cargo
        uses: actions/cache@v5
        with:
          path: |
            .cargo/
            .sccache/
          key: ${{ matrix.os.name }}-${{ matrix.os.version }}-${{ matrix.os.architecture }}-${{ matrix.job.name }}-cargo-${{ hashFiles('lightningcss/Cargo.lock') }}
          restore-keys: |
            ${{ matrix.os.name }}-${{ matrix.os.version }}-${{ matrix.os.architecture }}-${{ matrix.job.name }}-cargo-

      - name: Cache yarn
        uses: actions/cache@v5
        with:
          path: |
            .yarn-cache
          key: ${{ matrix.os.name }}-${{ matrix.os.version }}-${{ matrix.os.architecture }}-${{ matrix.job.name }}-yarn-${{ hashFiles('lightningcss/yarn.lock') }}
          restore-keys: |
            ${{ matrix.os.name }}-${{ matrix.os.version }}-${{ matrix.os.architecture }}-${{ matrix.job.name }}-yarn-
      - name: Ignore target/
        working-directory: lightningcss
        run: rm -r target || true
      - name: Configure sccache
        if: ${{ false }}
        uses: actions/github-script@v7
        with:
          script: |
            core.exportVariable('ACTIONS_RESULTS_URL', process.env.ACTIONS_RESULTS_URL || '');
            core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');
      - uses: cross-platform-actions/action@492b0c80085400348c599edace11141a4ee73524 # v0.32.0
        if: ${{ matrix.job.cmd }}
        with:
          operating_system: ${{ matrix.os.name }}
          architecture: ${{ matrix.os.architecture }}
          version: ${{ matrix.os.version }}
          memory: 13G
          cpu_count: 3
          environment_variables: "DEBUG ACTIONS_RESULTS_URL ACTIONS_RUNTIME_TOKEN SCCACHE_GHA_ENABLED RUSTC_WRAPPER"
          shell: bash
          run: |
            sudo pkg install -y rust sccache node npm yarn
            export YARN_CACHE_FOLDER="$PWD/.yarn-cache"
            rustc --version
            export SCCACHE_DIR="$PWD/.sccache"
            # NOTE create a symlink of .cargo
            rm -rf "$HOME/.cargo"
            ln -sfn "$PWD/.cargo" "$HOME/.cargo"
            # NOTE extra step because this is the real repo
            cd lightningcss
            sccache --show-stats
            ${{ matrix.job.cmd }}
            sccache --show-stats
            ${{ matrix.job.post_cmd || '' }}
