name: Verify Windows patch
on:
  workflow_dispatch:

jobs:
  test-upstream-win-rust:
    env:
      TARGET: x86_64-pc-windows-msvc
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
      - name: Clone upstream
        run: git clone --depth 1 --branch v1.30.2 https://github.com/parcel-bundler/lightningcss lightningcss
      - name: Apply Windows patch
        working-directory: lightningcss
        run: |
          git apply -v ../windows.patch
          git status
          git diff
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ env.TARGET }}
      - name: Cargo test
        working-directory: lightningcss
        run: cargo test --all-features --target ${{ env.TARGET }} --no-fail-fast
