name: Verify Windows patch
on:
  workflow_dispatch:

jobs:
  test-upstream-win-rust:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        target:
          - x86_64-pc-windows-msvc
    steps:
      - uses: actions/checkout@v6
      - name: Clone upstream
        run: |
          git clone --depth 1 --branch windows-patched https://github.com/IronBlood/lightningcss lightningcss
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}
      - name: Print Rust toolchain
        working-directory: lightningcss
        run: |
          rustc -Vv
          cargo -V
      - name: Cargo test
        working-directory: lightningcss
        run: cargo test --all-features --target ${{ matrix.target }} --no-fail-fast
