name: Upstream Race Check
on:
  workflow_dispatch:

jobs:
  race-check:
    name: Race check on ${{ matrix.settings.target }} @ ${{ matrix.ref }}
    runs-on: ${{ matrix.settings.host }}
    strategy:
      fail-fast: false
      matrix:
        ref:
          - v1.30.2
          - master
        settings:
          - host: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - host: ubuntu-24.04-arm
            target: aarch64-unknown-linux-gnu
          - host: macos-13
            target: x86_64-apple-darwin
          - host: macos-latest
            target: aarch64-apple-darwin
    steps:
      - uses: actions/checkout@v6
      - name: Clone upstream
        run: git clone --depth 1 --branch ${{ matrix.ref }} https://github.com/parcel-bundler/lightningcss lightningcss
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.settings.target }}
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: |
            lightningcss
      - name: Run race check
        working-directory: lightningcss
        run: sh ../build-and-test.sh
